@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="first-content">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="img-wrapper">
                        <div class="img">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-header.jpg"
                                 alt="hero-banner">
                        </div>
                        <div class="img-content">
                            <h1>About for Bacola</h1>
                            <h4>WE CAN DO MORE FOR YOU</h4>
                        </div>
                    </div>
                    <div class="container">
                        <div class="text">
                            <p>
                                In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo
                                iaculis.
                                Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id
                                rutrum ex.
                                Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia
                                vestibulum metus in
                                dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur
                                porta
                                auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel
                                vulputate tortor
                                blandit nec.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="second-content">
        <div class="container">
            <div class="content">
                <h2>
                    Quisque erat urna, congue et libero in<br>
                    eleifend euismod velit.
                </h2>
                <p>
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
                    Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam,
                    pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </p>
            </div>
        </div>
    </section>

    <section id="third-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="img-wrapper">
                        <div class="img">
                            <img width="600" height="900"
                                 src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people.jpg"
                                 class="attachment-large size-large" alt="" loading="lazy"
                                 srcset="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people.jpg 600w, https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people-200x300.jpg 200w, https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people-36x54.jpg 36w, https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people-64x96.jpg 64w"
                                 sizes="(max-width: 600px) 100vw, 600px">
                        </div>
                        <div class="img-content">
                            <p>
                                In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo
                                iaculis. Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam
                                id rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus
                                lacinia vestibulum metus in dapibus. Vestibulum sit amet sollicitudin enim. Ut id
                                interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque
                                efficitur elit ante, vel vulputate tortor blandit nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="content">
                        <p>Rachel Leonard - Bacola CEO</p><br>
                        <h3>Duis convallis luctus pretium.<br>Pellentesque habitant morbi</h3><br>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.<br><br>

                            In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida, dui eget
                            aliquet tempus, turpis orci vehicula ipsum, eget porttitor sapien tortor at neque. Cras
                            id
                            pulvinar lacus, ac volutpat neque. Ut at magna id justo bibendum lobortis. Integer
                            tortor
                            nulla, ultricies et nisi sit amet, interdum dictum felis. In semper laoreet dui vitae
                            pharetra. Etiam sit amet molestie nulla, eu efficitur orci. Praesent rutrum ante justo,
                            eget
                            malesuada ante ornare ac. Ut dignissim blandit urna, eget euismod leo rhoncus nec.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                            Quisque lobortis libero ante. Nullam in feugiat erat. Aenean sed justo dapibus, sodales
                            nisi
                            ut, fringilla lorem. Vestibulum in orci ac nisl condimentum fermentum at et sem.
                            Curabitur
                            fermentum dolor eu lacus consectetur varius.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bottom-text">
                        <p>
                            In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo
                            iaculis. Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id
                            rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia
                            vestibulum metus in dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum
                            turpis. Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur elit
                            ante, vel vulputate tortor blandit nec.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>