@{
    ViewData["Title"] = "Index";
}

<main>
    <hr>
    <section id="login-register">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="login">
                        <h2>LOGIN</h2>
                        <hr>
                        <form action="./home.html">
                            <label for="username">Username or email address *</label><br>
                            <input class="login-pass" type="email" name="" id=""><br>
                            <label for="password">Password *</label><br>
                            <input class="login-pass" type="password" name="" id=""><br>
                            <input type="checkbox" name="" id="">
                            <span>Remember me</span><br><br>
                            <button href="./home.html" type="submit">Log in</button><br><br>
                            <a href="">Lost your password?</a>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div class="register">
                        <h2>REGISTER</h2>
                        <hr>
                        <form action="./home.html">
                            <label for="username">Email address *</label><br>
                            <input class="login-pass" type="email" name="" id=""><br>
                            <label for="password">Password *</label><br>
                            <input class="login-pass" type="password" name="" id=""><br>
                            <p>
                                Your personal data will be used to support your experience throughout this website,
                                to<br>manage access to your account, and for other purposes described in our <a href="">privacy policy</a>.
                            </p>
                            <button href="./home.html" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>