@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/slider-image-6.jpg"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block first">
                        <div class="offer">
                            <p>EXCLUSIVE OFFER <b>-20% OFF</b></p>
                        </div>
                        <h1>A different kind of<br>grocery store</h1>
                        <p>Only this week. Don't miss...</p>
                        <p>from <b class="price">$7.99</b></p>
                        <button>Shop Now <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/slider-image-7.jpg"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block second">
                        <div class="offer">
                            <p>EXCLUSIVE OFFER <b>-40% OFF</b></p>
                        </div>
                        <h1>Quality Freshness<br>Guaranteed!</h1>
                        <p>Only this week. Don't miss...</p>
                        <p>from <b class="price">$14.35</b></p>
                        <button>Shop Now <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                    data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                    data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </section>

    <section id="category-card" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-2">
                    <div class="beverages">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/baverages-1.jpg"
                             alt="Beverages">
                        <a>Beverages</a>
                        <p>11 Items</p>
                    </div>
                </div>
                <div class="col-xl-10 col-8">
                    <div class="row">
                        <div class="col-xl-3 col-6">
                            <div class="biscuits-snacks d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/biscuitssnacks-1.jpg"
                                         alt="Biscuits &amp; Snacks">
                                </div>
                                <div class="category-content">
                                    <a href="">Biscuits &<br>Snacks</a>
                                    <p>6 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="breads-bakery d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/breadbakery-1.jpg"
                                         alt="Breads &amp; Bakery">
                                </div>
                                <div class="category-content">
                                    <a href="">Breads & Bakery</a>
                                    <p>6 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="breakfast-dairy d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/dairy-1.jpg"
                                         alt="Breakfast &amp; Dairy">
                                </div>
                                <div class="category-content">
                                    <a href="">Breakfast &<br>Dairy</a>
                                    <p>8 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="frozen-foods d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/category-image4.png"
                                         alt="Frozen Foods">
                                </div>
                                <div class="category-content">
                                    <a href="">Frozen Foods</a>
                                    <p>7 Items</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-6">
                            <div class="frozen-foods d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/fruitvegetables-1.jpg"
                                         alt="Fruits &amp; Vegetables">
                                </div>
                                <div class="category-content">
                                    <a href="">Fruits &<br>Vegetables</a>
                                    <p>12 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="frozen-foods d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/category-image2.png"
                                         alt="Grocery &amp; Staples">
                                </div>
                                <div class="category-content">
                                    <a href="">Grocery &<br>Staples</a>
                                    <p>7 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="frozen-foods d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/household-1.jpg"
                                         alt="Household Needs">
                                </div>
                                <div class="category-content">
                                    <a href="">Household<br>Needs</a>
                                    <p>1 Items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6">
                            <div class="frozen-foods d-flex">
                                <div class="category-image">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/meat-1.jpg"
                                         alt="Meats &amp; Seafood">
                                </div>
                                <div class="category-content">
                                    <a href="">Meats &<br>Seafood</a>
                                    <p>5 Items</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="deal-category" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-12">
                    <div class="deals-of-week">
                        <p class="first">Deals of the <b>week!</b></p>
                        <div class="clock"></div>
                        <p class="second">Remains untill the end of the offer</p>
                        <div class="img-wrapper">
                            <div class="img">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-50.jpg"
                                     alt="Chobani Complete Vanilla Greek Yogurt">
                            </div>
                            <div class="deal-discount">
                                19%
                            </div>
                        </div>
                        <p class="price">$4.49</p>
                        <p class="name">Chobani Complete Vanilla Greek<br>Yogurt</p>
                        <p class="third">1 kg <b>IN STOCK</b></p>
                        <p class="stars">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <span>1</span>
                        </p>
                        <p class="four">AVAILABLE: <b>49</b></p>
                        <div class="gradient">
                            <div class="progress" style="height: 10px; border-radius: 3.125rem;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width:70%; background: linear-gradient(to right, #ff0000 0%, #ff9900 100%); border-radius: 3.125rem; height: 10px;">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-xl-7 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                                 alt="All Natural Italian-Style Chicken Meatballs">
                                        </div>
                                        <div class="text">
                                            <div class="procent">
                                                23%
                                            </div>
                                            <div class="recom">
                                                RECOMMENDED
                                            </div>
                                        </div>
                                    </div>
                                    <p class="name">All Natural Italian-Style<br>Chicken Meatballs</p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$7.25</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-60-346x310.jpg"
                                                 alt="Angie’s Boomchickapop Sweet &amp; Salty Kettle Corn">
                                        </div>
                                        <div class="text">
                                            <div class="procent">
                                                24%
                                            </div>
                                        </div>
                                    </div>
                                    <p class="name">Angie’s Boomchickapop Sweet & Salty Kettle Corn</p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$3.29</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                                 alt="Field Roast Chao Cheese Creamy Original">
                                        </div>
                                        <div class="text">
                                            <div class="procent">
                                                19%
                                            </div>
                                        </div>
                                    </div>
                                    <p class="name">Field Roast Chao Cheese Creamy Original</p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$19.50</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-45-346x310.jpg"
                                                 alt="Foster Farms Takeout Crispy Classic Buffalo Wings">
                                        </div>

                                    </div>
                                    <p class="name">Foster Farms Takeout Crispy Classic Buffalo Wings</p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$7.25-$49.99</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-59-346x310.jpg"
                                                 alt="Blue Diamond Almonds Lightly Salted">
                                        </div>
                                        <div class="text">
                                            <div class="procent">
                                                10%
                                            </div>
                                        </div>
                                    </div>
                                    <p class="name">Blue Diamond Almonds Lightly Salted</p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$10.58</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="img-wrapper">
                                        <div class="img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-346x310.jpg"
                                                 alt="Blueberries – 1 Pint Package">
                                        </div>
                                        <div class="text">
                                            <div class="procent">
                                                12%
                                            </div>
                                        </div>
                                    </div>
                                    <p class="name">
                                        Blueberries – 1 Pint Package<br> <span style="color: white;">.</span>
                                    </p>
                                    <p class="first">IN STOCK</p>
                                    <p class="stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star two-last"></i><i class="fas fa-star last"></i>
                                        <span>1</span>
                                    </p>
                                    <p class="price">$3.99</p>

                                </div>
                                <div class="add-cart-btn">
                                    <button>Add to cart</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="weekend-discount" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="first-img">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-11.jpg"
                             alt="banner">
                        <div class="content">
                            <p class="discount">WEEKEND DISCOUNT 40%</p>
                            <h3>Cookie and Ice Cream</h3>
                            <p class="first">Bacola Weekend Discount</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="second-img">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-12.jpg"
                             alt="banner">
                        <div class="content">
                            <p class="discount">WEEKEND DISCOUNT 30%</p>
                            <h3>Cookie and Ice Cream</h3>
                            <p class="first">Bacola Weekend Discount</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="best-sellers" class="mt-5">
        <div class="container">
            <div class="head d-flex justify-content-between">
                <div class="header">
                    <h4>BEST SELLERS</h4>
                    <p>Do not miss the current offers until the end of March.</p>
                </div>
                <div class="view-all-btn">
                    <button>View All <i class="fas fa-long-arrow-right"></i></button>
                </div>
            </div>
            <div class="best-seller-category">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                         alt="All Natural Italian-Style Chicken Meatballs">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        23%
                                    </div>
                                    <div class="recom">
                                        RECOMMENDED
                                    </div>
                                </div>
                            </div>
                            <p class="name">All Natural Italian-Style<br>Chicken Meatballs</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $7.25
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-60-346x310.jpg"
                                         alt="Angie’s Boomchickapop Sweet &amp; Salty Kettle Corn">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        24%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Angie’s Boomchickapop<br>Sweet & Salty Kettle Corn</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $3.29
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                         alt="Field Roast Chao Cheese Creamy Original">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        19%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Field Roast Chao Cheese<br>Creamy Original</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $19.50
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-57-346x310.jpg"
                                         alt="Fresh Organic Broccoli Crowns">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        29%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Fresh Organic Broccoli Crowns</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $4.85
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-50-346x310.jpg"
                                         alt="Chobani Complete Vanilla Greek Yogurt">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        19%
                                    </div>
                                    <div class="recom">
                                        RECOMMENDED
                                    </div>
                                </div>
                            </div>
                            <p class="name">Chobani Complete Vanilla<br>Greek Yogurt</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $4.49
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-48-346x310.jpg"
                                         alt="Encore Seafoods Stuffed Alaskan Salmon">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        16%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Encore Seafoods Stuffed Alaskan Salmon</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $27.49
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                         alt="USDA Choice Angus Beef Stew Meat">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        38%
                                    </div>
                                </div>
                            </div>
                            <p class="name">USDA Choice Angus Beef Stew Meat</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $49.99
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-59-346x310.jpg"
                                         alt="Blue Diamond Almonds Lightly Salted">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        10%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Blue Diamond Almonds Lightly Salted</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <div class="price">
                                $10.58
                            </div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="save-extra" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        SAVE AN EXTRA 5-10 % ON EVERY AUTOSHIP ORDER!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="product-category" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-6">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-346x310.jpg"
                                         alt="Zevia Kidz Strawberry Lemonade Zero Calorie Soda">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        26%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Zevia Kidz Strawberry<br>Lemonade Zero Calorie...</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$5.95</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-2-346x310.jpg"
                                         alt="Wheat Thins Original Crackers">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        40%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Wheat Thins Original<br>Crackers</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$3.00</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-3-346x310.jpg"
                                         alt="Werther’s Original Caramel Hard Candies">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        26%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Werther’s Original Caramel<br>Hard Candies</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$14.97</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-4-346x310.jpg"
                                         alt="Warrior Blend Organic">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        26%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Warrior Blend Organic<br><span style="color: white;">.</span></p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star two-last"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$29.00</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-5-346x310.jpg"
                                         alt="Vital Farms Pasture-Raised Egg Bites Bacon &amp; Cheddar">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        14%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Vital Farms Pasture-Raised<br>Egg Bites Bacon & Cheddar</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$25.00</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-6">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                         alt="USDA Choice Angus Beef Stew Meat">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        38%
                                    </div>
                                </div>
                            </div>
                            <p class="name">USDA Choice Angus Beef<br>Stew Meat</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$49.99</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-9-346x310.jpg"
                                         alt="Tropicana Pineapple Mango Drink">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        31%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Tropicana Pineapple Mango Drink</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$2.29</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-11-346x310.jpg"
                                         alt="Organic Sweet Lime">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        15%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Organic Sweet Lime<br><span style="color: white;">.</span></p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$5.99</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-12-346x310.jpg"
                                         alt="Fresh Organic Strawberry">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        25%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Fresh Organic Strawberry<br><span style="color: white;">.</span></p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$9.00</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-6" style="margin-left: 31px;">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="img-wrapper">
                                <div class="img">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-14-346x310.jpg"
                                         alt="Sol-ti Coconut Charcoal SuperAde">
                                </div>
                                <div class="text">
                                    <div class="procent">
                                        21%
                                    </div>
                                </div>
                            </div>
                            <p class="name">Sol-ti Coconut Charcoal<br>SuperAde</p>
                            <p class="first">IN STOCK</p>
                            <p class="stars">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i>
                                <span>1</span>
                            </p>
                            <p class="price">$3.97</p>

                        </div>
                        <div class="add-cart-btn">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="best-category" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-12">
                    <div class="img-wrapper">
                        <div class="img">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-05.jpg"
                                 alt="banner">
                        </div>
                        <div class="text">
                            <p class="discount">WEEKEND DISCOUNT 20%</p>
                            <p class="name">Natural Eggs</p>
                            <p class="first">Eat one every day</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="img-wrapper">
                        <div class="img">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-06.jpg"
                                 alt="banner">
                        </div>
                        <div class="text">
                            <p class="discount">WEEKEND DISCOUNT 40%</p>
                            <p class="name">Taste the Best</p>
                            <p class="first">Shine the morning</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="img-wrapper">
                        <div class="img">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-10.jpg"
                                 alt="banner">
                        </div>
                        <div class="text">
                            <p class="discount">WEEKEND DISCOUNT 30%</p>
                            <p class="name">Ditch the Junk</p>
                            <p class="first">Breakfast made better</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="top-category" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="content">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3-370x260.jpg"
                             alt="But I must explain to you how all this mistaken idea">
                        <p class="first">TIPS & TRICKS</p>
                        <a href="">But I must explain to you how all this<br>mistaken idea</a><br>
                        <span class="date">3 May 2021</span> <span class="comment">3 comments</span> <span class="from"><span>by</span> Bacola</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5-370x260.jpg"
                             alt="The Problem With Typefaces on the Web">
                        <p class="first">GROCERY</p>
                        <a href="">The Problem With Typefaces on the Web</a><br>
                        <span class="date">3 May 2021</span> <span class="comment">3 comments</span> <span class="from"><span>by</span> Bacola</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1-370x260.jpg"
                             alt="English Breakfast Tea With Tasty Donut Desserts">
                        <p class="first">GROCERY</p>
                        <a href="">English Breakfast Tea With Tasty Donut Desserts</a><br>
                        <span class="date">2 May 2021</span> <span class="comment">3 comments</span> <span class="from"><span>by</span> Bacola</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>