@{
    ViewData["Title"] = "Index";
}

<main>
    <hr>
    <section id="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-12">
                    <div class="main-content">
                        <div class="first-content">
                            <div class="content">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg"
                                     alt="But I must explain to you how all this mistaken idea"><br>
                                <span><i class="fa-regular fa-clock"></i> May 3, 2021</span>
                                <span><i class="fa-regular fa-bookmark"></i> Tips & Tricks</span>
                                <span><i class="fa-solid fa-capsules"></i> food, store, themeforest</span>
                                <h2>But I must explain to you how all this mistaken idea</h2>
                                <p>
                                    Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit,
                                    sodales
                                    elementum enim sem sed lectus. Vivamus viverra diam congue tristique
                                    pellentesque.
                                    Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at
                                    justo
                                    lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur
                                    cursus,
                                    ex id efficitur ultrices, sapien mauris sodales
                                </p>
                                <button>Read More</button>
                            </div>
                        </div>
                        <div class="second-content mt-5">
                            <div class="content">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg"
                                     alt="The Problem With Typefaces on the Web"><br>
                                <span><i class="fa-regular fa-clock"></i> May 3, 2021</span>
                                <span><i class="fa-regular fa-bookmark"></i> Grocery</span>
                                <span><i class="fa-solid fa-capsules"></i> envato, fresh</span>
                                <h2>The Problem With Typefaces on the Web</h2>
                                <p>
                                    Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit,
                                    sodales
                                    elementum enim sem sed lectus. Vivamus viverra diam congue tristique
                                    pellentesque.
                                    Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at
                                    justo
                                    lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur
                                    cursus,
                                    ex id efficitur ultrices, sapien mauris sodales
                                </p>
                                <button>Read More</button>
                            </div>
                        </div>
                        <div class="third-content mt-5">
                            <div class="content">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg"
                                     alt="English Breakfast Tea With Tasty Donut Desserts"><br>
                                <span><i class="fa-regular fa-clock"></i> May 2, 2021</span>
                                <span><i class="fa-regular fa-bookmark"></i> Grocery</span>
                                <span><i class="fa-solid fa-capsules"></i> food, organic</span>
                                <h2>English Breakfast Tea With Tasty Donut Desserts</h2>
                                <p>
                                    Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit,
                                    sodales
                                    elementum enim sem sed lectus. Vivamus viverra diam congue tristique
                                    pellentesque.
                                    Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at
                                    justo
                                    lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur
                                    cursus,
                                    ex id efficitur ultrices, sapien mauris sodales
                                </p>
                                <button>Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 d-xs-none d-md-none d-xl-block">
                    <div class="search">
                        <input type="search" name="" id="" placeholder="Search...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="popular-posts">
                        <h4>POPULAR POSTS</h4>
                        <div class="post-content">
                            <div class="content d-flex justify-content-around">
                                <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-3-100x100.jpg"
                                     alt="But I must explain to you how all this mistaken idea">
                                <p class="w-50">But I must explain to you how all this mistaken idea</p>
                            </div>
                            <div class="content d-flex justify-content-around">
                                <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-5-100x100.jpg"
                                     alt="The Problem With Typefaces on the Web">
                                <p class="w-50">The Problem With Typefaces on the Web</p>
                            </div>
                            <div class="content d-flex justify-content-around">
                                <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-1-100x100.jpg"
                                     alt="English Breakfast Tea With Tasty Donut Desserts">
                                <p class="w-50">English Breakfast Tea With Tasty Donut Desserts</p>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <h4>SOCIAL MEDIA</h4>
                        <div class="facebook" style="background-color: #3b5998;">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i> FACEBOOK
                            </a>
                        </div>
                        <div class="twitter" style="background-color: #1da1f2">
                            <a href="">
                                <i class="fa-brands fa-twitter"></i> TWITTER
                            </a>
                        </div>
                        <div class="pinterest" style="background-color: #e60023;">
                            <a href="">
                                <i class="fa-brands fa-pinterest-p"></i> PINTEREST
                            </a>
                        </div>
                        <div class="linkedin" style="background-color: #0077b5;">
                            <a href="">
                                <i class="fa-brands fa-linkedin-in"></i> LINKEDIN
                            </a>
                        </div>
                        <div class="reddit" style="background-color: #ff4500;">
                            <a href="">
                                <i class="fa-brands fa-reddit"></i> REDDIT
                            </a>
                        </div>
                    </div>
                    <div class="widget-banner">
                        <h4>WIDGET BANNER</h4>
                        <img width="1280" height="1750"
                             src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/sidebar-banner.gif"
                             class="image wp-image-1184 attachment-full size-full" alt="" loading="lazy"
                             style="max-width: 100%; height: auto;">
                    </div>
                    <div class="tags">
                        <h4>TAGS</h4>
                        <div class="row">
                            <div class="col-4"><div class="tag">envato</div></div>
                            <div class="col-4"><div class="tag">food</div></div>
                            <div class="col-4"><div class="tag">fresh</div></div>
                            <div class="col-4"><div class="tag">grocery</div></div>
                            <div class="col-4"><div class="tag">organic</div></div>
                            <div class="col-4"><div class="tag">quality</div></div>
                            <div class="col-4"><div class="tag">store</div></div>
                            <div class="col-6"><div class="tag last">themeforest</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>