@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 d-md-none d-sm-none d-xl-block">
                <section id="left-side-shop">
                    <div class="product-categories-wrapper">
                        <h4>PRODUCT CATEGORIES</h4>
                        <div class="product-categories">
                            <div class="accordion-elements">
                                <div class="accordion d-flex justify-content-between">
                                    <div class="name">
                                        <input type="checkbox" name="" id="">
                                        <span>Beverages</span>
                                    </div>
                                    <div class="acc-btn">
                                        <button class="open-btn"
                                                style="border: none; background-color: transparent;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="accordion-content d-none">
                                    <input type="checkbox" name="" id="">
                                    <span>Coffee</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Craft Beer</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Drink Boxes & Pouches</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Milk & Plant-Based Milk</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Soda & Pop</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Sparkling Water</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Tea & Kombucha</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Water</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Wine</span><br>
                                </div>
                            </div>
                            <div class="unaccordion-elements">
                                <input type="checkbox" name="" id="">
                                <span>Biscuits & Snacks</span>
                            </div>
                            <div class="accordion-elements">
                                <div class="accordion d-flex justify-content-between">
                                    <div class="name">
                                        <input type="checkbox" name="" id="">
                                        <span>Breads & Bakery</span>
                                    </div>
                                    <div class="acc-btn">
                                        <button class="open-btn"
                                                style="border: none; background-color: transparent;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="accordion-content d-none">
                                    <input type="checkbox" name="" id="">
                                    <span>Buns and Rolls</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Cakes and Cupcakes</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Cookies and Brownies</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Donuts and Muffins</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Order Specialty Cakes</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Packaged Breads</span>
                                </div>
                            </div>
                            <div class="accordion-elements">
                                <div class="accordion d-flex justify-content-between">
                                    <div class="name">
                                        <input type="checkbox" name="" id="">
                                        <span>Breakfast & Dairy</span>
                                    </div>
                                    <div class="acc-btn">
                                        <button class="open-btn"
                                                style="border: none; background-color: transparent;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="accordion-content d-none">
                                    <input type="checkbox" name="" id="">
                                    <span>Butter and Margarine</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Cheese</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Eggs Substitutes</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Honey</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Marmalades</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Milk & Flavoured Milk</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Sour Cream and Dips</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Yogurt</span>
                                </div>
                            </div>
                            <div class="unaccordion-elements">
                                <input type="checkbox" name="" id="">
                                <span>Frozen Foods</span>
                            </div>
                            <div class="accordion-elements">
                                <div class="accordion d-flex justify-content-between">
                                    <div class="name">
                                        <input type="checkbox" name="" id="">
                                        <span>Fruits & Vegetables</span>
                                    </div>
                                    <div class="acc-btn">
                                        <button class="open-btn"
                                                style="border: none; background-color: transparent;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="accordion-content d-none">
                                    <input type="checkbox" name="" id="">
                                    <span>Herbs & Seasonings</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Packaged Produce</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Party Trays</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Cuts & Sprouts</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Exotic Fruits & Veggies</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Fresh Fruits</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Fresh Vegetables</span>
                                </div>
                            </div>
                            <div class="unaccordion-elements">
                                <input type="checkbox" name="" id="">
                                <span>Grocery & Staples</span>
                            </div>
                            <div class="unaccordion-elements">
                                <input type="checkbox" name="" id="">
                                <span>Household Needs</span>
                            </div>
                            <div class="accordion-elements">
                                <div class="accordion d-flex justify-content-between">
                                    <div class="name">
                                        <input type="checkbox" name="" id="">
                                        <span>Meats & Seafood</span>
                                    </div>
                                    <div class="acc-btn">
                                        <button class="open-btn"
                                                style="border: none; background-color: transparent;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="accordion-content d-none">
                                    <input type="checkbox" name="" id="">
                                    <span>Shrimp</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Sliced Deli Meat</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Wild Caught Fillets</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Beef</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Breakfast Sausage</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Chicken</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Crab and Shellfish</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Dinner Sausage</span><br>
                                    <input type="checkbox" name="" id="">
                                    <span>Farm Raised Fillets</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-filter mt-5">
                        <h4>FILTER BY PRICE</h4>
                        <input id="myRange" class="slider" type="range" min="0" max="70" value="70" />
                        <p>Price: <span id="demo"></span></p>
                    </div>
                    <div class="product-status mt-5">
                        <h4>PRODUCT STATUS</h4>
                        <input type="checkbox" name="" id="">
                        <span>In Stock</span><br>
                        <input type="checkbox" name="" id="">
                        <span>On Sale</span>
                    </div>
                    <div class="brands mt-5">
                        <h4>BRANDS</h4>
                        <div class="content d-flex justify-content-between">
                            <div class="name">
                                <input type="checkbox" name="" id="">
                                <span>Frito Lay</span>
                            </div>
                            <div class="count">
                                (6)
                            </div>
                        </div>
                        <div class="content d-flex justify-content-between">
                            <div class="name">
                                <input type="checkbox" name="" id="">
                                <span>Nespresso</span>
                            </div>
                            <div class="count">
                                (10)
                            </div>
                        </div>
                        <div class="content d-flex justify-content-between">
                            <div class="name">
                                <input type="checkbox" name="" id="">
                                <span>Oreo</span>
                            </div>
                            <div class="count">
                                (6)
                            </div>
                        </div>
                        <div class="content d-flex justify-content-between">
                            <div class="name">
                                <input type="checkbox" name="" id="">
                                <span>Quaker</span>
                            </div>
                            <div class="count">
                                (8)
                            </div>
                        </div>
                        <div class="content d-flex justify-content-between">
                            <div class="name">
                                <input type="checkbox" name="" id="">
                                <span>Welch's</span>
                            </div>
                            <div class="count">
                                (7)
                            </div>
                        </div>
                    </div>
                    <img width="1280" height="1750"
                         src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/sidebar-banner.gif"
                         class="image wp-image-1184  attachment-full size-full mt-5" alt="" loading="lazy"
                         style="max-width: 100%; height: auto;">
                </section>
            </div>
            <div class="col-xl-9 col-12">
                <section id="right-side-shop">
                    <div class="header-wrapper">
                        <div class="img">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/bacola-banner-18.jpg"
                                 alt="Organic Meals Prepared">
                        </div>
                        <div class="header">
                            <h4>Organic Meals Prepared</h4>
                            <h3>Delivered to <strong>your Home</strong></h3>
                            <p>Fully prepared & delivered nationwide.</p>
                        </div>
                    </div>
                    <div class="sort d-flex justify-content-between mt-4">
                        <div class="layout">
                            <span><i class="fa-solid fa-bars"></i></span>
                            <span><i class="fa-solid fa-border-all"></i></span>
                            <span>
                                <i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </div>
                        <div class="dropdowns d-flex">
                            <div class="dropdown-element">
                                <button class="open-drop-btn">
                                    Sort by latest <i class="fa-solid fa-angle-down"></i>
                                </button>
                                <div class="dropdown-content d-none" style="width: 246.99px;">
                                    <p>Sort by popularity</p>
                                    <p>Sort by average rating</p>
                                    <p>Sort by latest</p>
                                    <p>Sort by price: low to high</p>
                                    <p>Sort by price: high to low</p>
                                </div>
                            </div>
                            <div class="dropdown-element">
                                <button class="open-drop-btn">
                                    Show 12 <i class="fa-solid fa-angle-down"></i>
                                </button>
                                <div class="dropdown-content d-none">
                                    <p>12</p>
                                    <p>24</p>
                                    <p>36</p>
                                    <p>48</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products">
                        <div class="row">
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                                     alt="All Natural Italian-Style Chicken Meatballs">
                                            </div>
                                            <div class="img-content">
                                                23%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                All Natural Italian-Style Chicken Meatballs
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$7.25</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-60-346x310.jpg"
                                                     alt="Angie’s Boomchickapop Sweet &amp; Salty Kettle Corn">
                                            </div>
                                            <div class="img-content">
                                                24%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Angie’s Boomchickapop Sweet &amp; Salty Kettle Corn
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$3.29</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                                     alt="Field Roast Chao Cheese Creamy Original">
                                            </div>
                                            <div class="img-content">
                                                19%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Field Roast Chao Cheese Creamy Original
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 1
                                            </span><br><br>
                                            <p class="price">$19.50</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-45-346x310.jpg"
                                                     alt="Foster Farms Takeout Crispy Classic Buffalo Wings">
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Foster Farms Takeout Crispy Classic Buffalo...
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$7.25 - $49.99</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-59-346x310.jpg"
                                                     alt="Blue Diamond Almonds Lightly Salted">
                                            </div>
                                            <div class="img-content">
                                                10%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Blue Diamond Almonds Lightly Salted
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 1
                                            </span><br><br>
                                            <p class="price">$10.58</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-346x310.jpg"
                                                     alt="Blueberries – 1 Pint Package">
                                            </div>
                                            <div class="img-content">
                                                12%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Blueberries – 1 Pint Package
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$3.99</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-57-346x310.jpg"
                                                     alt="Fresh Organic Broccoli Crowns">
                                            </div>
                                            <div class="img-content">
                                                29%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Fresh Organic Broccoli Crowns
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$4.85</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-50-346x310.jpg"
                                                     alt="Chobani Complete Vanilla Greek Yogurt">
                                            </div>
                                            <div class="img-content">
                                                19%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Chobani Complete Vanilla Greek Yogurt
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 1
                                            </span><br><br>
                                            <p class="price">$4.49</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-56-346x310.jpg"
                                                     alt="Fresh Brown Coconut">
                                            </div>
                                            <div class="img-content">
                                                21%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Fresh Brown Coconut <p style="color: white;">.</p>
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 1
                                            </span><br><br>
                                            <p class="price">$15.48</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-61-346x310.jpg"
                                                     alt="American Cheese Singles">
                                            </div>
                                            <div class="img-content">
                                                61%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                American Cheese Singles <p style="color: white;">.</p>
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$3.29</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-55-346x310.jpg"
                                                     alt="100% Butter French Croissants">
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                100% Butter French Croissants
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 1
                                            </span><br><br>
                                            <p class="price">$1.44</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-4">
                                <div class="card-component">
                                    <div class="card-custom">
                                        <div class="img-wrapper">
                                            <div class="img">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-54-346x310.jpg"
                                                     alt="Canada Dry Ginger Ale – 2 L Bottle">
                                            </div>
                                            <div class="img-content">
                                                41%
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3>
                                                Canada Dry Ginger Ale –<br>2 L Bottle
                                            </h3>
                                            <p>IN STOCK</p>
                                            <span>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star last"></i> 1
                                            </span><br><br>
                                            <p class="price">$3.85</p>
                                        </div>
                                    </div>
                                    <div class="card-btn">
                                        <button>Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>