@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="cart-page">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted">3 items</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img width="90" height="90"
                                     src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-90x90.jpg"
                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                     loading="lazy"
                                     srcset="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-90x90.jpg 90w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-150x150.jpg 150w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-450x450.jpg 450w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-600x600.jpg 600w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-96x96.jpg 96w"
                                     sizes="(max-width: 90px) 100vw, 90px">
                            </div>
                            <div class="col">
                                <div class="row">All Natural Italian-Style Chicken Meatballs</div>
                            </div>
                            <div class="col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="col">$7.25 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img width="90" height="90"
                                     src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-90x90.jpg"
                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                     loading="lazy"
                                     srcset="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-90x90.jpg 90w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-150x150.jpg 150w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-450x450.jpg 450w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-600x600.jpg 600w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-96x96.jpg 96w"
                                     sizes="(max-width: 90px) 100vw, 90px">
                            </div>
                            <div class="col">
                                <div class="row">Field Roast Chao Cheese Creamy Original</div>
                            </div>
                            <div class="col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="col">$19.50 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img width="90" height="90"
                                     src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-90x90.jpg"
                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""
                                     loading="lazy"
                                     srcset="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-90x90.jpg 90w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-150x150.jpg 150w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-450x450.jpg 450w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-600x600.jpg 600w, https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-58-96x96.jpg 96w"
                                     sizes="(max-width: 90px) 100vw, 90px">
                            </div>
                            <div class="col">
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col">
                                <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                            </div>
                            <div class="col">$3.99 <span class="close">&#10005;</span></div>
                        </div>
                    </div>
                    <div class="back-to-shop">
                        <a href="#">&leftarrow;</a><span class="text-muted">
                            Back to
                            shop
                        </span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Cart Totals</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS 3</div>
                        <div class="col text-right">$30.74</div>
                    </div>
                    <form>
                        <p>SHIPPING</p> <select>
                            <option class="text-muted">Standard-Delivery- $5.00</option>
                        </select>
                        <p>GIVE CODE</p> <input id="code" placeholder="Coupon code">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">$30.74</div>
                    </div> <button class="btn">Proceed to checkout</button>
                </div>
            </div>
        </div>
    </section>
</main>