@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="contact-page">
        <div class="container">
            <div class="contact-head">
                <h1>Get In Touch</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa veritatis inventore, aut commodi eum veniam vel.</p>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-xl-4 col-12">
                        <div class="content">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="first">102 Street 2714 Donovan</p>
                            <p class="lorem">Lorem ipsum dolar site amet discont</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="content">
                            <i class="fas fa-phone"></i>
                            <p class="first">+02 1234 567 88</p>
                            <p class="lorem">Lorem ipsum dolar site amet discont</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="content">
                            <i class="far fa-envelope"></i>
                            <p class="first">info@example.com</p>
                            <p class="lorem">Lorem ipsum dolar site amet discont</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="send-us">
        <div class="container">
            <div class="content">
                <div class="header">
                    <h1>Send Us</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa veritatis<br>inventore, aut commodi eum veniam vel.</p>
                </div>
                <hr>
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <span>Your name *</span><br>
                            <input type="text" name="" id="">
                        </div>
                        <div class="col-6">
                            <span>Your email *</span><br>
                            <input type="email" name="" id="">
                        </div>
                        <div class="col-12 pt-4">
                            <span>Subject *</span><br>
                            <input type="text" name="" id="">
                        </div>
                        <div class="col-12 pt-4">
                            <span>Your message</span><br>
                            <textarea name="your-message" cols="40" rows="10"></textarea>
                        </div>
                        <div class="col-12 pt-4">
                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>